/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    chosen {
        zmk,physical-layout = &foostan_corne_5col_layout;
    };

    behaviors {
        as: auto_shift {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping_term_ms = <200>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
    
        default_layer {
            // 5-column Corne: 3 rows x 5 keys per hand (10 keys per row) + 3 thumb keys per hand
            // Layout: 
            // | W | G | D | F | B |     | Q | L | U | O | Y |
            // | R | S | T | H | K |     | J | N | E | A | I |
            // | X | C | M | P | V |     | Z | COMMA | PERIOD | DQT | FSLH |
            //   | RGUI | CTRL | SPC |     | BSPC | SHIFT | ENT |
            display-name = "Base";
            bindings = <
                &kp W &kp G &kp D &kp F &kp B     &kp Q &kp L &kp U &kp O &kp Y
                &kp R &kp S &kp T &kp H &kp K     &kp J &kp N &kp E &kp A &kp I
                &kp X &kp C &kp M &kp P &kp V     &kp Z &kp COMMA &kp DOT &kp DOUBLE_QUOTES &kp SLASH
                 &kp RGUI &kp LCTRL &kp SPACE     &kp BSPC &kp LSHIFT &kp ENT
            >;
        };
        extra_1 {
            status = "reserved";
        };
    
        extra_2 {
            status = "reserved";
        };
    
        extra_3 {
            status = "reserved";
        };
    };
};
